<div class="content">
  <!--<p *ngIf="imovel.finalidade === 'venda'" class="finalidade venda">Venda</p>
  <p *ngIf="imovel.finalidade === 'locacao'" class="finalidade locacao">Locação</p>-->
  <h4>
    {{ imovel.anuncio }}
  </h4>
  <img class="img-fluid" src="{{ imovel.fotoPrincipal.url }}" alt="">
  <div class="div-detalhes">
    <div class="div-bairro">{{ imovel.bairro }}</div>
    <div class="div-cidade">{{ imovel.cidade }}</div>
    <p>{{ imovel.valor | currency:'BRL' }} - <span ngClass="{'venda': imovel.finalidade === 'Venda', 'locacao': imovel.finalidade === 'Locação'}">{{ imovel.finalidade }}</span></p>
    <div class="icones" *ngIf="imovel.dormitorios !== undefined">
      <div class="div-quartos">
        <img src="../../../bed.png" alt="quartos">
        <p>{{ imovel.dormitorios }}</p>
      </div>
      <div class="div-garagem">
        <img src="../../../garage.png" alt="garagem">
        <p>{{ imovel.vagas }}</p>
      </div>
      <div class="div-banheiros">
        <img src="../../../bathtub.png" alt="banheiros">
        <p>{{ imovel.banheiros }}</p>
      </div>
    </div>
    <div class="icones" *ngIf="imovel.dormitorios === undefined">

    </div>
    <button (click)="showModal()" class="button">VER MAIS</button>
  </div>
</div>
