<div class="content">
  <p class="situacao"
     [class.venda]="!imovel.locacao"
     [class.locacao]="imovel.locacao">
    {{ imovel.locacao? 'Locação' : 'Venda' }}
  </p>
  <h4>
    {{ imovel.anuncio }}
  </h4>
  <img class="img-fluid" src="{{ imovel.fotoPrincipal.url }}" alt="">
  <div class="div-detalhes">
    <div class="div-bairro">{{ imovel.bairro }}</div>
    <div class="div-cidade">{{ imovel.cidade }}</div>
    <h2>{{ imovel.valor | currency:'BRL' }}</h2>
    <div class="icones">
      <div class="div-quartos">
        <img src="../../../bed.png" alt="quartos">
        <p>{{ imovel.dormitorios }}</p>
      </div>
      <div class="div-garagem">
        <img src="../../../garage.png" alt="garagem">
        <p>{{ imovel.vagas }}</p>
      </div>
      <div class="div-banheiros">
        <img src="../../../bathtub.png" alt="banheiros">
        <p>{{ imovel.banheiros }}</p>
      </div>
    </div>
    <button (click)="showModal()" class="button">Ver mais</button>
  </div>
</div>
