@import "~materialize-css/dist/css/materialize.css";

.content {
  width: 87%;
  padding: 15px;
}

.title {
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  color:rgba(0, 0, 0, .75);
}

.colecao{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26),
  0 2px 2px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.08);
}

.colecao:hover{
  transition: all .2s ease ;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.26),
  0 8px 10px 1px rgba(0,0,0,0.12),
  0 3px 14px 2px rgba(0,0,0,0.08);
}

.painel {
  display: flex;
}

.imagem {
  width: 80px;
  height: 80px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.descricao {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.descricao-conteudo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.anuncio {
  color: #00695c;
  font-size: 16px;
  font-weight: bolder;
}

.varejo {
  font-size: 14px;
  color: #FBB13C;
}

.sala-comercial {
  font-size: 14px;
  color: #A5044D;
}

.andar-corrido {
  font-size: 14px;
  color: #179f1a;
}

.galpao {
  font-size: 14px;
  color: #923b16;
}

.terreno {
  font-size: 14px;
  color: rgba(0, 0, 0, .74);
}

.localizacao {
  font-size: 12px;
  color: #00695c;
}

.preco {
  font-size: 12.5px;
  color: #7bb523;
}

.descricao-icons {
  display: flex;
  align-items: center;
}

.descricao-icon {

  margin-left: 15px;
}

.add-photo-icon {
  color: #49c6a9;
  cursor: pointer;
}

.edit-icon {
  color: #5e35b1;
  cursor: pointer;
}

.delete-icon {
  color: #c62828;
  cursor: pointer;
}

.item-menu {
  font-size: 12px;
  font-weight: bolder;
}
