.cursor-pointer {
  cursor: pointer;
}

.title {
  color: rgba(0, 0, 0, .70);
}

.dados-residencial {
  display: inline-flex;
  width: 100%;
}

.div-tabela {
  width: 50%;
}

.icon {
  width: 28px;
  height: 28px;
  margin: 0 20px;
}

td {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

td div {
  display: flex;
  align-items: center;
}

.td-principal {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: .925em;
  color: rgba(0, 0, 0, .65);
}

.align__right {
  justify-content: flex-end;
}

h6 {
  font-size: 19px;
}

.control-carousel {
  background-color: rgba(0, 0, 0, .5);
}
