<div class="bg-image">
  <div class="content">

    <div class="content-sobre-mim">
      <div class="photo">
        <img class="img-fluid" src="../../../pictures/rita.jpeg" alt="Rita de Cássia">
      </div>
      <div class="text">
        <h1 class="title">Sobre Mim</h1>
        <hr>
        <p>Natural de Mogi das Cruzes e residente na cidade que aprendi a admirar e gostar.</p>
        <p>
          Minha história como corretora de imóvel começou no ano de 2012, como estagiária em satnd de vendas de
          lançamentos, e com o término do curso de Técnico de Transações Imobiliárias no Instituto do Monitor em
          São Paulo, obtive o Creci para poder atuar na profissão.
        </p>
        <p>
          Fazer a intermediação de interesse de comprador e o vendedor do imóvel dentro das regras e normas
          legais da negociação imobiliária em nosso país, administrar, avaliar um imóvel com lisura e lealdade,
          é o meu compromisso para aquele que me confia o seu patrimômio.
        </p>
        <hr>
        <blockquote>
          <p>"Escolha o trabalho que você ame e não terás que trabalhar um único dia em sua vida."</p>
          <p>- Confúcio</p>
        </blockquote>
      </div>
    </div>

  </div>
</div>
