<div class="bg-image">

  <div class="banner">
    <div class="creci">
      <p>CRECI: 158821-F</p>
    </div>
    <div class="facebook">
      <div class="icon"></div>
      <div class="media"><a href="#" type="_blank">Rita de Cassia Imóveis</a></div>
    </div>
    <div class="linkedin">
      <div class="icon"></div>
      <div class="media"><a href="#" type="_blank">Rita de Cassia</a></div>
    </div>
    <div class="email">
      <div class="icon"></div>
      <div class="media"><a>rita.cassiamiro@gmail.com</a></div>
    </div>
    <div class="phone">
      <div class="icon"></div>
      <div class="media"><a>(Tim) 9-8515-6427 - Telegram</a></div>
    </div>
  </div>
</div>
