.bg-image {
  background-image: url("../../../imobiliaria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
}

.banner {
  width: fit-content;
  height: fit-content;
  border-radius: 1px;
  background-color: rgba(200, 200, 200, 0.6);
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 6px 6px 15px -2px rgba(55, 55, 55, .42);
  -moz-box-shadow: 6px 6px 15px -2px rgba(55, 55, 55, .42);
  box-shadow: 6px 6px 15px -2px rgba(55, 55, 55, .42);
}

.banner div {
  display: inline-flex;
  align-items: center;
}

.creci {
  width: 100%;
  display: flex;
  justify-content: center;
}

.creci p {
  color: #923b16;
  font-size: 18px;
  padding: 10px;
  font-weight: bolder;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, .2);
}

.facebook .icon {
  background-image: url("../../../facebook.png");
  width: 32px;
  height: 32px;
  margin: 10px 5px 10px 10px;
}

.linkedin .icon {
  background-image: url("../../../linkedin.png");
  width: 32px;
  height: 32px;
  margin: 10px 5px 10px 10px;
}

.email .icon {
  background-image: url("../../../email.png");
  width: 32px;
  height: 32px;
  margin: 10px 5px 10px 10px;
}

.phone .icon {
  background-image: url("../../../phone.png");
  width: 32px;
  height: 32px;
  margin: 10px 5px 10px 10px;
}

.media a {
  font-size: 13px;
  padding: 10px 10px 10px 5px;
  color: #923b16 !important;
  text-decoration: none !important;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

