.bg-image {
  background-image: url("../../../pictures/imobiliaria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 90%;
  position: relative;
}
