<div id="simpleModal" class="modal" modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ imovel.anuncio }}</h2>
      <span (click)="close()" id="closeBtn" class="closeBtn">&times;</span>
    </div>
    <div class="modal-body">
      <div class="carrosel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100"
                   src="{{ imovel.fotoPrincipal.url }}"
                   alt="#">
            </div>
            <div *ngFor="let foto of imovel.fotos" class="carousel-item">
              <img class="d-block w-100"
                   src="{{ foto.url }}"
                   alt="#">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="div-detalhes">
        <div class="div-valor-localizacao">
          <div class="div-valor">{{imovel.valor | currency:'BRL'}}</div>
          <div class="div-bairro">
            <div class="label-localizacao">Bairro:</div>
            <div class="value-localizacao">{{ imovel.bairro }}</div>
          </div>
          <div class="div-cidade">
            <div class="label-localizacao">Cidade:</div>
            <div class="value-localizacao">{{ imovel.cidade }}</div>
          </div>
          <div class="div-endereco">
            <div class="label-localizacao">Endereço:</div>
            <div class="value-localizacao">{{ imovel.endereco }}</div>
          </div>
        </div>
        <div class="div-caracteristicas-descricao">
          <div class="div-caracteristicas">
            <div class="div-dados-imovel">
              <div class="label-dados">Condomínio:</div>
              <div class="value-dados">{{ imovel.condominio? 'Sim' : 'Não' }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Dormitórios:</div>
              <div class="value-dados">{{ imovel.dormitorios }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Banheiros:</div>
              <div class="value-dados">{{ imovel.banheiros }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Vagas:</div>
              <div class="value-dados">{{ imovel.vagas }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Suítes:</div>
              <div class="value-dados">{{ imovel.suites }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Sala de Estar:</div>
              <div class="value-dados">{{ imovel.sala_estar }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Sala de Jantar:</div>
              <div class="value-dados">{{ imovel.sala_jantar }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Churrasqueira:</div>
              <div class="value-dados">{{ imovel.churrasqueira? 'Sim' : 'Não' }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="label-dados">Piscina:</div>
              <div class="value-dados">{{ imovel.piscina? 'Sim' : 'Não' }}</div>
            </div>
            <div class="div-dados-imovel">
              <div class="div-dados-imovel">
                <div class="label-dados">Área construída:</div>
                <div class="value-dados">{{ imovel.area_construida }}m²</div>
              </div>
              <div class="div-dados-imovel">
                <div class="label-dados">Área útil:</div>
                <div class="value-dados">{{ imovel.area_util }}m²</div>
              </div>
            </div>
          </div>
          <div class="div-descricao">
            <div class="label-descricao">Descrição:</div>
            <div class="value-descricao">
              <p>{{ imovel.descricao }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
