.bg-image {
  background-image: url("../../../mogi-paisagem2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 400px;
  position: relative;
}

.conteudo {
  padding: 0;
  display: flex;
  margin-top: 0;
  height: fit-content;
}

.paginacao {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.filter-clear {
  cursor: pointer;
  font-weight: bolder;
}

.filter-clear:hover {
  text-decoration: underline;
}

.div-filtro {
  width: 100%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12);
}

.div-filtro-content {
  width: 45%;
  margin: auto;
}

.div-conteudo-paineis {
  width: 80%;
  margin: auto;
}

#btn-collapse-filter {
  margin-top: 5px;
  font-weight: bold;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.section {
  display: flex;
  flex-direction: column;
}

.form-input-busca,
.form-select-tipo,
.valores-filtro {
  width: 99%;
}

.button-row button {
  width: 99%;
  background-color: #b9b9b9;
  color: #923b16;
  margin-bottom: 30px;
  border-radius: 0;
  font-size: .950em;
}

.button-row button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #923b16;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.button-row button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.example-container > * {
  width: 99%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

span {
  color: rgba(0, 0, 0, .54);
}

.paineis {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  /*0 8px 10px 1px rgba(0,0,0,0.12),*/
  /*0 3px 14px 2px rgba(0,0,0,0.08);*/
}

.paineis app-painel {
  max-width: fit-content;
  height: fit-content;
  margin: 20px 10px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26),
  0 2px 2px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.08);
}

.paineis app-painel:hover {
  transition: all .2s ease;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26),
  0 8px 10px 1px rgba(0, 0, 0, 0.12),
  0 3px 14px 2px rgba(0, 0, 0, 0.08);
}

/*------------------------- MOBILE ------------------------------*/

@media screen and (max-width: 769px) {
  .carrosel img {
    height: 200px !important;
    object-fit: cover;
  }

  #btn-collapse-filter {
    margin-bottom: 5px;
  }

  .form-input-busca, .form-select-tipo {
    width: 100%;
  }

  .conteudo {
    flex-direction: column;
    height: fit-content;
    margin-top: 0;
  }

  .button-row button:last-child {
    margin-bottom: 5px;
  }

  .paineis {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}
