<ng-template #modal_dados let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <mat-icon>mode_edit</mat-icon>
      Imóvel Comercial
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formComercial"
        (ngSubmit)="onSubmit()"
        autocomplete="off">
    <div class="modal-body">

      <div class="row">
        <div class="col s6">
          <mat-form-field>
            <input formControlName="anuncio" matInput type="text" placeholder="Anúncio:">
            <mat-error *ngIf="verifyValidTouched('anuncio')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="valor" matInput type="number" placeholder="Valor:">
            <mat-error *ngIf="verifyValidTouched('valor')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="cidade" matInput type="text" placeholder="Cidade:">
            <mat-error *ngIf="verifyValidTouched('cidade')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="bairro" matInput type="text" placeholder="Bairro:">
            <mat-error *ngIf="verifyValidTouched('bairro')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="endereco" matInput type="text" placeholder="Endereço:">
            <mat-error *ngIf="verifyValidTouched('endereco')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="area_util" matInput class="input-valor" type="number"
                   placeholder="Área útil:">
            <span matSuffix> m²</span>
            <mat-error *ngIf="verifyValidTouched('area_util')">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

        </div>

        <div class="col s6">

          <div class="col s6">

            <mat-form-field>
              <textarea formControlName="descricao" matInput rows="8" placeholder="Descrição:"></textarea>
            </mat-form-field>

          </div>

          <div class="div-radio">
            <mat-radio-group formControlName="tipo">
              <mat-radio-button value="varejo" aria-label="Varejo/Loja">Varejo/Loja</mat-radio-button>
              <mat-radio-button value="sala_comercial" aria-label="Sala comercial">Sala comercial</mat-radio-button>
              <mat-radio-button value="andar_corrido" aria-label="Andar corrido">Andar corrido</mat-radio-button>
              <mat-radio-button value="galpao" aria-label="Galpão/Depósito">Galpão/Depósito</mat-radio-button>
              <mat-radio-button value="terreno" aria-label="Terreno">Terreno</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" mat-button class="waves-effect waves-light btn botao-cancelar" (click)="c('Close click')">
        <mat-icon class="left">cancel</mat-icon>
        Cancelar
      </button>
      <button type="submit" mat-button class="waves-effect waves-light btn botao-salvar"
              (click)="c('Close click'); salvar()">
        <mat-icon class="left">archive</mat-icon>
        Salvar
      </button>
    </div>

  </form>

</ng-template>
