<ng-template #modal_dados let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <mat-icon>mode_edit</mat-icon>
      Imóvel Residencial
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formResidencial"
        (ngSubmit)="onSubmit()"
        autocomplete="off">
    <div class="modal-body">


      <div class="row">
        <mat-form-field>
          <input formControlName="anuncio" matInput type="text" placeholder="Anúncio:">
          <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="valor" matInput type="text" placeholder="Valor:">
          <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="cidade" matInput type="text" placeholder="Cidade:">
          <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="bairro" matInput type="text" placeholder="Bairro:">
          <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="endereco" matInput type="text" placeholder="Endereço:">
          <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea formControlName="descricao" matInput rows="8" placeholder="Descrição:"></textarea>
        </mat-form-field>

        <div class="row">
          <div class="col s6">
            <mat-form-field>
              <input formControlName="dormitorios" matInput class="input-caracteristicas" type="number"
                     placeholder="Dormitórios:">
              <span matSuffix> </span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="suites" matInput class="input-caracteristicas" type="number"
                     placeholder="Suítes:">
              <span matSuffix> </span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="vagas" matInput class="input-caracteristicas" type="number"
                     placeholder="Vagas:">
              <span matSuffix> </span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="banheiros" matInput class="input-caracteristicas" type="number"
                     placeholder="Banheiro:">
              <span matSuffix> </span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col s6">
            <mat-form-field>
              <input formControlName="sala_estar" matInput class="input-caracteristicas" type="number"
                     placeholder="Salas de estar:">
              <span matSuffix> </span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="sala_jantar" matInput class="input-caracteristicas" type="number"
                     placeholder="Salas de jantar:">
              <span matSuffix> </span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="area_util" matInput class="input-valor" type="number"
                     placeholder="Área útil:">
              <span matSuffix> m²</span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input formControlName="area_construida" matInput class="input-valor" type="number"
                     placeholder="Área construída:">
              <span matSuffix> m²</span>
              <mat-error *ngIf="'!anuncio.valid'">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

        </div>

        <div style="display: flex; flex-direction: column">

          <div class="div-check">
            <mat-checkbox formControlName="churrasqueira">Churrasqueira</mat-checkbox>
            <mat-checkbox formControlName="piscina">Piscina</mat-checkbox>
          </div>

          <br>
          <br>

          <div class="div-radio">
            <mat-radio-group formControlName="tipo">
              <mat-radio-button value="casa" aria-label="Casa">Casa</mat-radio-button>
              <mat-radio-button value="apartamento" aria-label="Apartamento">Apartamento</mat-radio-button>
              <mat-radio-button value="terreno" aria-label="Terreno">Terreno</mat-radio-button>
            </mat-radio-group>
          </div>

          <br>
          <br>

          <mat-checkbox formControlName="condominio">Condomínio</mat-checkbox>

          <br>
          <br>

          <div class="div-radio">
            <mat-radio-group formControlName="locacao">
              <mat-radio-button value="false" aria-label="Venda">Venda</mat-radio-button>
              <mat-radio-button value="true" aria-label="Locação">Locação</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>

      </div>

    </div>

    <div class="modal-footer">
      <button type="button" mat-button class="waves-effect waves-light btn botao-cancelar" (click)="c('Close click')">
        <mat-icon class="left">cancel</mat-icon>
        Cancelar
      </button>
      <button type="submit" mat-button class="waves-effect waves-light btn botao-salvar"
              (click)="c('Close click'); salvar()">
        <mat-icon class="left">archive</mat-icon>
        Salvar
      </button>
    </div>

  </form>

</ng-template>
