<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
<app-modal-dados-imovel #modal_dados></app-modal-dados-imovel>
<app-modal-fotos-imovel #modal_fotos></app-modal-fotos-imovel>
<app-modal-add-fotos #modal_add_fotos></app-modal-add-fotos>

<div class="content">

  <p-messages [(value)]="msg"></p-messages>

  <div class="row">
    <div class="input-field col s12">
      <input (keyup)="searchResidencial()" [(ngModel)]="search" id="procurar" type="text">
      <label for="procurar">Pesquisar...</label>
    </div>
  </div>

  <div *ngFor="let imovel of imoveis" class="collection colecao">
    <div class="collection-item painel">
      <img class="imagem"
           src="{{imovel.fotoPrincipal.url}}"
           alt="">
      <div class="descricao">
        <div class="descricao-conteudo">
          <li class="anuncio">
            {{imovel.anuncio}}
          </li>
          <li class="localizacao">
            <span>{{imovel.cidade}} - {{imovel.bairro}}</span>
          </li>
          <li class="preco">
            {{imovel.valor | currency: 'BRL'}}
          </li>
        </div>
        <div class="descricao-icons">
          <div class="descricao-icon">
            <span class="secondary-content add-photo-icon"><i (click)="openModalAddFotos(imovel)"
                                                              class="material-icons">add_a_photo</i></span>
          </div>
          <div class="descricao-icon">
            <span class="secondary-content edit-icon"><i [matMenuTriggerFor]="editMenu"
                                                         class="material-icons">mode_edit</i></span>
            <mat-menu #editMenu="matMenu">
              <button (click)="openModalDados(imovel)" mat-menu-item class="item-menu">
                <mat-icon color="primary">home</mat-icon>
                <span>Dados do imóvel</span>
              </button>
              <button (click)="openModalFotos(imovel)" mat-menu-item class="item-menu">
                <mat-icon color="accent">photo_camera</mat-icon>
                <span>Fotos</span>
              </button>
            </mat-menu>
          </div>
          <div class="descricao-icon">
            <span class="secondary-content delete-icon"><i [matMenuTriggerFor]="deleteMenu" class="material-icons">delete_forever</i></span>
            <mat-menu #deleteMenu="matMenu">
              <button (click)="delete(imovel)" mat-menu-item class="item-menu">
                <mat-icon color="warn">remove_circle</mat-icon>
                <span>Remover</span>
              </button>
              <button mat-menu-item class="item-menu">
                <mat-icon color="primary">cancel</mat-icon>
                <span>Cancela</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-paginator
    (pageEvent)="onPageChanges($event)"
    [length]="paginator.length">
  </app-paginator>
</div>
